<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamentos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

    <div id="banner">
        <img th:src="@{/imgs/banner.jpg}" width="100%">
    </div>
    <nav>
        <a th:href="@{/}">Home</a>
        <a href="#" class="atual">Tratamentos</a>
        <a th:href="@{/login}">Consultas</a>
        <a th:href="@{/local}">Localização</a>
    </nav>
    <h1>Tratamentos</h1>
    <section id="trat">
        <h3>Tratamento de pterígio</h3>
        <p>Exérese de pterígio: retirada cirúrgica do pterígio. O pterígio consiste em um tumor benigno da conjuntiva que cresce sobre a superfície da córnea em direção à pupila.</p>
    </section>
    <section id="trat">
        <h3>Retinopexia Convencional</h3>
        <p>A retinopexia convencional, ou cirurgia de implante de faixa de silicone, é um tipo de cirurgia oftalmológica utilizada para corrigir o descolamento de retina, e assim conseguir restaurar a visão. A técnica cirúrgica consiste em costurar uma faixa de silicone ao redor do olho, de modo a empurrar a esclera (parede externa do olho) em direção à retina que está descolada.</p>
    </section>
    <section id="trat">
        <h3>Exérese de calázio</h3>
        <p>Exérese de calázio: retirada cirúrgica do calázio. O calázio consiste em um nódulo benigno e crônico que se forma na região palpebral devido ao entupimento de uma glândula</p>
    </section>
    <section id="trat">
        <h3>Cirurgia refrativa</h3>
        <p>A cirurgia refrativa é um procedimento cirúrgico realizado para corrigir o grau do paciente de miopia, hipermetropia ou astigmatismo, de modo a reduzir a dependência dos óculos e/ou das lentes de contato.</p>
    </section>
    <section id="trat">
        <h3>Fotocoagulação da retina a laser</h3>
        <p>A fotocoagulação da retina utilizando o laser é um procedimento realizado no consultório. Esse recurso é usado para tratar uma série de doenças retinianas, incluindo roturas da retina e a presença de vasos anormais, que podem ser gerados por diabetes descontrolado ou então por oclusão de vasos da retina.</p>
    </section>
    <section id="trat">
        <h3>Facoemulsificação com implante de lente intra-ocular</h3>
        <p>Técnica mais moderna atualmente disponível no tratamento da catarata.</p>
        <p>Consiste na utilização de uma sonda de ultrassom para triturar e aspirar a catarata (lente ocular, o chamado cristalino, que perdeu a transparência), para que em seguida implante-se uma lente artificial no lugar.</p></p>
    </section>
    <section id="trat">
        <h3>Retinopexia Pneumática</h3>
        <p>A retinopexia pneumática é uma das técnicas cirúrgicas que podem ser utilizadas no tratamento do descolamento de retina e na qual o oftalmologista especialista em retina injeta uma bolha de um gás específico, expansível, no segmento posterior do olho. Trata-se de um método eficaz e pouco invasivo a ser empregado de forma conjunta com o laser ou a crioterapia transescleral, em casos selecionados de descolamento de retina.</p>
    </section>
    <footer>
        <div>
            <a th:href="@{/}">Home</a><br>
            <a href="#">Tratamentos</a><br>
            <a th:href="@{/login}">Consultas</a><br>
            <a th:href="@{/local}">Localização</a>
        </div>
    </footer>
    
</body>
</html>